@font-face {
    font-family: 'IRANYekanXFaNum-Black';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Black.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Bold';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Bold.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-DemiBold';
    src: url('../assets/font/Woff/IRANYekanXFaNum-DemiBold.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-ExtraBlack';
    src: url('../assets/font/Woff/IRANYekanXFaNum-ExtraBlack.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-ExtraBold';
    src: url('../assets/font/Woff/IRANYekanXFaNum-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Heavy';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Light';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Light.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Medium';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Medium.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Regular';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-Thin';
    src: url('../assets/font/Woff/IRANYekanXFaNum-Thin.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekanXFaNum-UltraLight';
    src: url('../assets/font/Woff/IRANYekanXFaNum-UltraLight.woff') format('woff');
}